* {
    box-sizing: border-box;
}

html {
    font-family: 'Karla', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

nav {
    position: fixed;
    height: 4rem;
    background-color: beige;
    border-bottom: 1px dashed black;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1em;
    box-shadow: rgba(17, 12, 46, 0.20) 0px 4px 90px 0px;
}

h1 {
    font-size: 2rem;
}

#blog-posts {
    padding: 4rem 1.3em 1.3em;
}
