* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

nav {
    position: fixed;
    height: 3rem;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1em;
}

h1 {
    font-size: 2rem;
}

#blog-posts {
    padding-top: 3rem;
    padding-left: 1em;
}